<div class="post-container">
    <div class="post-title">
        <h4> <%= post.title %> </h4>
    </div>
    <div class="post-body">
        <p> <%= post.text %> </p>
    </div>
    <div class="post-comments">
        <p> <%= post.comments_counter %> comments <%= post.likes_counter %> likes </p>
        <%= form_with url: "/users/#{@user.id}/posts/#{post.id}/likes" do |liked| %>
            <%= liked.submit "Like Post" %>
        <% end %>
    </div>
    <% if can? :destroy, @post %>
      <%= button_to "Delete Post", user_post_path(@user, post.id), method: :delete, class: "btn btn-danger" %>
    <% end %>
</div>