
<% @posts.each do |post| %>
  <div class="post-container">
    <div class="post-title">
      <h4> <%= post.title %> </h4>
    </div>
    <div class="post-body">
      <p> <%= post.text %> </p>
    </div>
    <div class="post-comments">
      <p> <%= post.comments_counter %> comments <%= post.likes_counter %> likes </p>
    </div>
  </div>

  <div class="comments">
    <% post.five_most_recent_comments.each do |comment| %>
      <div class="comment-container">
        <div class="comment-body">
          <p> <%= comment.author.name %> - <%= comment.text %> </p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="btn-container">
    <button class="see-all-btn">
        Pagination
    </button>
</div>